%form{:role=>"form"}
	.form-group
		%select.form-control.margin-bottom
			%option
				I Have a Question
			%option
				Other
		%textarea.form-control.margin-bottom{:rows=>"10", :placeholder=>"Your Message"}
		%button.btn.btn-default.pull-right.full-width{:type=>"subnit"}
			Submit