%section.section#features
	.container
		.row
			.col-lg-4.col-md-4.col-sm-4
				.text-line
			.col-lg-4.col-md-4.col-sm-4
				%h3.text-center
					Included Features
			.col-lg-4.col-md-4.col-sm-4
				.text-line