%section.section#job-tests
	.container
		.row
			.col-lg-1.col-md-1.col-sm-1
			.col-lg-10.col-md-10.col-sm-10
				.text-center
					%h1
						Wellhire Job Tests
					%h2
						Save time by testing job candidates first, with Wellhire.  Our tests are created by professionals, and cover more than 100 career skill areas.
			.col-lg-1.col-md-1.col-sm-1
%section.primary-bg.invert-section
	.container
		.row.margin-bottom
			.col-lg-12.col-md-12.col-sm-12
				.text-center
					%h3
						Explore Our Job Tests
		.row.margin-bottom
			.col-lg-2.col-md-2.col-sm-2
			.col-lg-4.col-md-4.col-sm-4
				%h4.text-right
					Select a Category
			.col-lg-3.col-md-3.col-sm-3
				%select.form-control
					%option
						Essential Skills
					%option
						Essential Skills
					%option
						Essential Skills
			.col-lg-3
		.row
			.col-lg-12
				=partial "home/test_tabel"