%section#testimonials
	.container
		.row.double-margin-bottom
			.col-lg-12
				%h1.text-center
					The Highest Standards, The Happiest Customers
		.row
			-2.times do
				.col-lg-6.col-md-6.col-sm-6
					.testimonial.double-margin-bottom
						.padded.testimonial-bub.double-margin-bottom
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit faucibus odio, lobortis tristique libero feugiat eget. Nullam pretium elit non nisi scelerisque, sed volutpat turpis tempor. Aenean 
						.row
							.col-lg-3.col-md-3.col-sm-3.col-xs-3
								%img.img-circle.full-width-image{:src=>"images/avatar.png"}
							.col-lg-9.col-md-9.col-sm-9.col-xs-9
								%h5.no-margin-bottom
									John Smith
								%h6
									Title
