%section.no-padding-top
	.container
		.row
			.col-lg-12
				.page-header.double-margin-bottom.inline-block.full-width
					.row
						.col-sm-6
							%h2.no-margin-bottom
								Sign Up
						.col-sm-6
							%p.no-margin-bottom.half-margin-top.text-right
								Already a member?
								%a{:href=>"log_in.html"}
									Log In Instead
		.row#sign-up
			.col-sm-8
				.double-margin-bottom
					%p.double-margin-bottom
						The Basics
					%form.form-horizontal{:role=>"form"}
						/ email
						.form-group.has-success
							%lebel.col-sm-4.control-label
								Email
							.col-sm-8
								%input.input-lg.form-control{:type=>"email", :placeholder=>"ex:John@doe.com"}
						/ first name
						.form-group.has-error
							%lebel.col-sm-4.control-label
								First Name
							.col-sm-8
								%input.input-lg.form-control
						/ last name
						.form-group
							%lebel.col-sm-4.control-label
								Last Name
							.col-sm-8
								%input.input-lg.form-control
				.double-margin-bottom
					%p.double-margin-bottom
						Payment Information
					%form.form-horizontal{:role=>"form"}
						/ card type
						.form-group
							%lebel.col-sm-4.control-label
								Card Type
							.col-sm-8
								%select.input-lg.form-control
									%option
										Visa
						/ card number
						.form-group
							%lebel.col-sm-4.control-label
								Card Number
							.col-sm-8
								%input.input-lg.form-control
						/ expiration date
						.form-group
							%lebel.col-sm-4.control-label
								Expiration Date
							.col-sm-8
								.row
									.col-sm-6
										%select.input-lg.form-control
											%option
												01-Jan
									.col-sm-6
										%select.input-lg.form-control
											%option
												01-Jan
						/ card type
						.form-group
							%lebel.col-sm-4.control-label
								CVV2 Code
							.col-sm-8
								%input.input-lg.form-control
						.form-group
							.col-sm-12
								%button.btn.btn-default.pull-right{:type=>"submit"}
									Sign Up
			.col-sm-4

